html, body, .brian-map {
  height: 100%;
  width: 100%;
}
.brian-map{
  position: absolute;
}
.brian-map-element {
  display: inline-block;
  position: absolute;
  border: 1px dashed #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836))
}
input[type=text] {
  border: 0px;
}
