html, body, .brian-map {
  height: 100%;
  width: 100%;
}
.brian-map{
  position: absolute;
}
.brian-map-element {
  display: inline-block;
  position: absolute;
  border: 1px dashed #ccc;
  padding: 05px 10px;
  border-radius: 05px;
}
input[type=text] {
  border: 0px;
}
